<div class="main-container">
  <p>Hi</p>
  <p>Hi</p>
  <p>Hi</p>
  <table>
    <tr>
      <th>All My Listings</th>
    </tr>

    <% @listings.each do |listing| %>
      <tr>
        <td>Seller Id: <%= listing.seller_id %></td>
        <td>Album Name: <%= Album.find_by_id(listing.album_id).mcountdown %> </td>
        <td>Price: <%= listing.price %></td>
        <td><%= link_to 'Requests', listing_requests_path(listing) %></td>
        <td><%= link_to 'Details', listing_path(listing) %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing_path(listing),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
