<%= image_tag(@award.masthead_img, class: "masthead") %>
<div class="main-container ranking-board-container">

<h3>Artiste</h3>
<table>
  <tr>
    <th>Artiste ID</th>
    <th>MCOUNTDOWN</th>
    <th>Standardised Eng</th>
    <th>Standardised Kor</th>
  </tr>

  <% @to_be_checked_artistes.each do |e| %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.mcountdown %></td>
      <td>
        <%= form_for :artiste, :url => {:artiste_id => e.id} do |f| %>
          <%= f.text_field :name_eng, label: false, :value => e.name_eng %>
          <%= f.submit "Save" %>
        <% end %>
      </td>
      <td>
        <%= form_for :artiste, :url => {:artiste_id => e.id} do |f| %>
          <%= f.text_field :name_kor, label: false, :value => e.name_kor %>
          <%= f.submit "Save" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Song</h3>
<table>
  <tr>
    <th>Song ID</th>
    <th>MCOUNTDOWN</th>
    <th>Standardised Eng</th>
    <th>Standardised Kor</th>
  </tr>

  <% @to_be_checked_songs.each do |e| %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.mcountdown %></td>
      <td>
        <%= form_for :song, :url => {:song_id => e.id} do |f| %>
          <%= f.text_field :name_eng, label: false, :value => e.name_eng %>
          <%= f.submit "Save" %>
        <% end %>
      </td>
      <td>
        <%= form_for :song, :url => {:song_id => e.id} do |f| %>
          <%= f.text_field :name_kor, label: false, :value => e.name_kor %>
          <%= f.submit "Save" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Youtube Video</h3>
<table>
  <tr>
    <th>Youtube Video ID</th>
    <th>Artiste Name</th>
    <th>Song Name</th>
    <th>Video ID</th>
    <th>Thumbnail Image</th>
    <th>Video Title</th>
  </tr>

  <% @to_be_checked_yt_videos.each do |e| %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.artiste.name_eng %></td>
      <td><%= e.song.name_eng %></td>
      <td>
        <%= form_for :yt, :url => {:yt_id => e.id} do |f| %>
          <%= f.text_field :video_id, label: false, :value => e.video_id %>
          <%= f.submit "Save" %>
        <% end %>
      </td>
      <td><%= image_tag("#{e.thumbnail_img}") %></td>
      <td><%= e.video_title %></td>
    </tr>
  <% end %>
</table>

</div>

<script>

</script>
