<div class="main-container">
  <p>Hi</p>
  <p>Hi</p>
  <p>Hi</p>
  <table>
    <tr>
      <th>All My Requests</th>
    </tr>

    <% @requests.each do |request| %>
      <tr>
        <td>Listing Id: <%= request.listing_id %></td>
        <td>Customer Id: <%= request.customer_id %> </td>
        <td>Quantity: <%= request.quantity %></td>
        <td>Approved? <% if request.approved == false %><%= "No" %><% else %><%="Yes" %><%end%></td>
        <% if request.approved == true %>
        <td>
            <%= form_tag request_charged_path(request.id) do %>
            <%= hidden_field_tag :paid, :value => true %>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%=Rails.configuration.stripe[:publishable_key] %>" data-description="Pay" data-amount="1000"></script>
            <% end %>
        </td>
        <% else %>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <%end%>
        <!-- <td><%= link_to 'Details', request_path(request) %></td> -->

        <td><%= link_to 'Cancel', request_path(request),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
