
  <% mcountdown_nominees.each do |mn| %>
  <div class="ranking-item clickable-row" data-href="<%= award_nominee_path(award_id, mn.id) %>">
    <div class="row">
    <div class="col-xs-1 col-sm-1 ranking-no">
      <%= mn.mcountdown_ranking.ranking.ordinalize %>
    </div>
    <div class="col-xs-1 col-sm-4">
      <% unless mn.artiste.profile_img == 'no available image' %>
        <%= image_tag(mn.artiste.profile_img, class: 'artiste-profile', alt: mn.artiste.name_eng ) %>
      <% end %>
    </div>
    <div class="col-xs-1 col-sm-4 nominee-col">
      <div class="flex-bar">
        <div class="flex-bar--item horiz-bar" style='flex: <%= mn.mcountdown_ranking.normalized_ds %> 0%; background-color: #ffe66b;'></div>
        <div class="flex-bar--item horiz-bar" style='flex: <%= mn.mcountdown_ranking.normalized_yv %> 0%; background-color: #e34a6f;'></div>
        <div class="flex-bar--item horiz-bar" style='flex: <%= mn.mcountdown_ranking.normalized_mv %> 0%; background-color: #fafaff;'></div>
        <div class="flex-bar--item horiz-bar" style='flex: <%= mn.mcountdown_ranking.remainder %> 0%; background-color: #B8C5D6;'></div>
      </div>
      <div>
        <p>
          <span><%= mn.song.name_eng %></span>
          <% unless mn.song.name_kor.nil?%>
            <span> | <%= mn.song.name_kor %></span>
          <% end %>
        </p>
        <p>
          <span><%= mn.artiste.name_eng %></span>
          <% unless mn.artiste.name_kor.nil?%>
            <span> | <%= mn.artiste.name_kor %></span>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-xs-1 col-sm-2 aggregate_score">
      <%= mn.mcountdown_ranking.score.round(1).to_s + '%' %>
    </div>
    <div class="col-xs-1 col-sm-1">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>

</div>
</div>
    <% end %>
    
<script>
  $("div[data-href]").click(function() {
    window.location = $(this).data("href")
  })

  $('.ranking-item:last').addClass('last');
</script>
