<div id="home_page" >
  <div>
  	<p>Choose Your Award: <span><%= link_to 'Sort by Name', awards_path(:order => "name"), class: "btn btn-primary" %></span> </p>
  	<div id = search_field>
  		<%= form_for awards_path, :method => :get do %>
  		<%= text_field_tag "keyword" %>
  		<%= submit_tag "Search" %>
		<% end %>
	</div>
  </div>

<div  id="awards" class="transitions-enabled">
  <% @awards.each do |award| %>
    <div class="box panel panel-default">
	      <%=image_tag(award.profile_img, size: "250x250")%>
		<div class = "panel-body">
			<h4><%= award.name %></h4>
		</div>
	</div>
  <% end %>
</div>