<div id="home_page">
  <img alt="homepage_masthead" src="http://imgh.us/home_page.png" class="masthead" >
  <div class="main-content">
    <div id="awards">
      <div class="sort_search">
        <div id="sort_field">
          <p>Choose Your Award:</p>
        </div>
        <div id="search_field">
          <%= form_for awards_path, :method => :get do %>
            <%= text_field_tag "keyword", nil, placeholder: 'Search for award...' %>
            <%= button_tag(type: 'submit') do %>
              <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
        <%= react_component('AwardItem', awards: @awards) %>
        </div>
      </div>
      <div class="show_all">
        <p><%= link_to 'Show All', awards_path %></p>
      </div>
    </div>

  </div>
</div>
