<%= image_tag(@award.masthead_img, class: "masthead") %>
<div class="main-container ranking-board-container">
  <div class="row">
    <div class="col-sm-4 award-profile">
      <%= image_tag(@award.profile_img, width: "100%") %>
    </div>
    <div class="col-sm-8">
      <h3><%= @award.name %></h3>
      <p><%= @award.description %></p>
    </div>
  </div>

<select id="date-picker">
  <% @nomination_cycles.each do |nc| %>
    <option value="<%= nc.id %>"><%= nc.start_date.to_s + ' ~ ' + nc.end_date.to_s %></option>
  <% end %>
</select>
 

 <div class="ranking_board_header clear">
  <h1>Ranking Board</h1>
 </div>

 <div class="ranking-container">
  <table id='ranking-ajax'>
    <%= render partial: 'ranking', locals: { mcountdown_nominees: @mcountdown_nominees} %>
  </table>
 </div>
</div>
<script>
$(function() {

  $('#date-picker').change(function(event){
    $.get(
      '/from_nomination_cycle',
      {cycle_id: $(event.target).val()}
    );
  });
});
</script>
     
