<%= image_tag(@award.masthead_img, class: "masthead") %>

<div class="main-box">
  <div class="row">
    <div class="col-sm-4 award-profile">
      <%= image_tag(@award.profile_img, width: "100%") %>
    </div>
    <div class="col-sm-8">
      <h4><%= @award.name %></h4>
      <p><%= @award.description %></p>
    </div>
  </div>

<div class="ranking_container">
  	<% @nominations.each do |n| %>
  	<div class="row ranking_item">
    	<div class="col-sm-1 ranking">
    		<%= (@nominations.find_index(n) + 1).ordinalize %>
    	</div>
    	<div class="col-sm-4">
			<% if Artiste.find_by("name_eng='#{n.artiste}'") %>
				<%= image_tag(Artiste.find_by("name_eng='#{n.artiste}'").profile_img, width: "90%") %>
			<% else %>
			    <p><%= n.artiste %></p>
			<% end %>
   		</div>
  		<div class="col-sm-7">
  			<p class="artiste_name"><%= n.artiste %></p>
  			<div class="flex-bar">
	  			<div class="flex-bar--item horiz-bar" style='flex: <%= n.normalized_ds %> 0%; background-color: #ffe66b;'></div>
	  			<div class="flex-bar--item horiz-bar" style='flex: <%= n.normalized_yv %> 0%; background-color: #6ccff6;'></div>
	  			<div class="flex-bar--item horiz-bar" style='flex: <%= n.normalized_pv %> 0%; background-color: #e34a6f;'></div>
	  			<div class="flex-bar--item horiz-bar" style='flex: <%= n.normalized_remainder %> 0%; background-color: #B8C5D6;'></div>
			</div>
  			<p class="song_name"><%= n.song %></p>
  			<p class="aggregate_score"><%= n.aggregate_score %></p>
  	 	</div>
  	 </div>
  <% end %>
  
</div>
