<%= image_tag(@award.masthead_img, class: "masthead") %>
<div class="main-container">
  <div class="row">
    <div class="col-md-4 award-profile">
      <%= image_tag(@award.profile_img, class: "award-logo") %>
    </div>
    <div class="col-md-8">
      <h3 class='award-name'><%= @award.name %></h3>
      <p><%= @award.description %></p>
      <%= render partial: 'legend', locals: {judging_criteria: @award.judging_criteria, color: ['#ffe66b', '#e34a6f', '#fafaff']} %>
    </div>
  </div>

<select id="date-picker">
  <% @nomination_cycles.each do |nc| %>
    <option value='<%= {"cycle_id": nc.id, "award_id": @award.id}.to_json %>' ><%= nc.start_date.to_s + ' ~ ' + nc.end_date.to_s %></option>
  <% end %>
</select>
 
<div class="nominees-fetcher">
  <%= button_to 'Fetch Nominees', fetch_mcountdown_nominees_path, method: :get %>
</div>  

 <div class="ranking-board-header clear">
  <h1>Ranking Board</h1>
 </div>

 <div class="ranking-container">
  <div id='ranking-ajax'>
    <%= render partial: 'ranking', locals: { mcountdown_nominees: @mcountdown_nominees, award_id: @award} %>
  </div>
 </div>
</div>
     
