<%= image_tag(@award.masthead_img, class: "masthead") %>
<div class="main-container ranking-board-container">
  <div class="row">
    <div class="col-sm-4 award-profile">
      <%= image_tag(@award.profile_img, width: "100%") %>
    </div>
    <div class="col-sm-8">
      <h3><%= @award.name %></h3>
      <p><%= @award.description %></p>
    </div>
  </div>


<div class="dropdown">
    <button class="btn btn-default dropdown-toggle pull-right" type="button" id="voting-period-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= @start_date.to_s + ' ~ ' + @end_date.to_s %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @nomination_cycles.each do |nc| %>
        <li><%= link_to nc.start_date.to_s + ' ~ ' + nc.end_date.to_s, fetch_nominees_path(:cycle_id => nc.id), :remote => true %></li>
      <% end %>
    </ul>
  </div>

  

 <div class="ranking_board_header">
  <h1>Ranking Board</h1>
 </div>

 <div class="ranking-container">
  <table id='ranking-ajax'>
    <%= render partial: 'ranking', locals: { mcountdown_nominees: @mcountdown_nominees} %>
  </table>
 </div>
</div>
     
