  <div class="container" id="sign_in_form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="title_login_form">
      Welcome back!
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.email_field :email, class: "form-control", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
        <%if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="check_box"><%= f.check_box :remember_me %><span><%= f.label :remember_me %></span></div>
        </div>
        <%end -%>
        <div class="form-group btn_devise">
          <%= f.submit "Sign in", class: "btn btn-primary form-control" %>
        </div>
        <%end %>
        <p class="text-center">or<p>
        <div class="form-group btn_facebook">
            <div>
            <% resource_class.omniauth_providers.each do |provider|%>
              <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary form-control" %>
              <% end -%>
            </div>
          </div>
        <div class="render">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>