  <!DOCTYPE html>
<html>
  <head>
    <title>Ollida</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=<%= css_class_for_controller_action(controller) %>>
  <div class="navbar">
    <ul class="navbar_items_container_left">
      <li class="navbar_items"><%= link_to 'Awards', awards_path, class: "awards_link" %></li>
      <li class="navbar_items"><a href="#" class="artistes_link">Artistes</a></li>
    </ul>
    <div class="navbar_items_logo">
      <img alt="ollida" src="http://imgh.us/logo@3x.png" class="logo">
    </div>
    <ul class="navbar_items_container_right">
      <li class="navbar_items"><a href="#" class="cart_link">Cart</a></li>
      <% if user_signed_in? %>
        <li class="navbar_items"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "session_link" %></li>
      <% else %>
        <li class="navbar_items"><%= link_to 'Sign in', new_user_session_path, class: "session_link" %></li>
      <% end %>  
    </ul>
  </div>
 <!--notice for Sign-in/out -->
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>

  <div class="content">
    <%= yield %>
  </div>
  <div id="footer" class="container-fluid" style="background: #1c1c1c">
      <p>&copy; 2016 olliDa.com Inc. All rights reserved.</p>
  </div>
</body>
</html>
