<!DOCTYPE html>
<html>
  <head>
    <title>Ollida</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "clearfix:after">
    <% if user_signed_in? -%>
      <div class="nav navbar-nav pull-right">
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </div>
    <% else %>
      <div class="nav navbar-nav pull-right">
        <%= link_to 'Sign in', new_user_session_path %>
      </div>
    <% end %>
    </div>

  <div class="container"> <!--notice for Sign-in/out -->
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </div>
  
    <%= yield %>
  </body>
</html>
