<!DOCTYPE html>
<html>
  <head>
    <title>Ollida</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all'%>

    <script src="https://use.fontawesome.com/34946f66a5.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'application'%>

  </head>
  <body class=<%= css_class_for_controller_action(controller) %>>

    <%= yield %>
  </body>
</html>
